<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>

    <a class="navbar-brand px-4 me-auto" href="#">Pokedex</a>

     <!--    <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child 1</a></li>
                    <li><a class="dropdown-item" href="#">Child 2</a></li>
                    <li><a class="dropdown-item" href="#">Child 3</a></li>
                </ul>
            </li>
        </ul> -->

    <form class="d-flex me-2">
        <input class="form-control me-2" type="search" placeholder="Buscar Pokemon">
        <button class="btn btn-outline-light" type="submit">
            Buscar
        </button>
    </form>
<!-- 
    <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Franklyn
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Sign Up</a></li>
        </ul>
    </div>
 -->
 
</nav>

